<!DOCTYPE html>
<html>
<head>
  <title>====== Forum</title>
</head>
<body>

<%
  if !session[:user_id]
    echo '<a href="login">'
    echo 'Вход'
    echo '</a>'

    echo ' '

    echo '<a href="registration">'
    echo 'Регистрация'
    echo '</a>'
  else
    echo '<a href="chat">'
    echo 'Чат'
    echo '</a>'

    echo ' '

    echo '<a href="exit">'
    echo 'Выход'
    echo '</a>'
  end

  echo '<br>'
  echo '<br>'
%>
