<!DOCTYPE html>
<html>
<head>
  <title>====== Forum</title>
</head>
<body>

<%
  echo '<a href="login">'
  echo 'Вход'
  echo '</a>'

  echo '<br>'

  echo '<a href="registration">'
  echo 'Регистрация'
  echo '</a>'
%>
